[submodule "rmvlib"]
	path = src/platforms/jaguar/rmvlib
	url = https://github.com/theRemovers/rmvlib
[submodule "jlibc"]
	path = src/platforms/jaguar/jlibc
	url = https://github.com/theRemovers/jlibc
