# Object files
*.o

# Executables
alpha_kinetics_pc
alpha_kinetics_pc.exe
AlphaKinetics.pdx
*.cof
*.elf

# Temporary Output
build/
pdex.so
*.log

# Editor/IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
